{% extends 'vertical.html' %}

{% load static %}

{% block title %}Apex Slope Charts{% endblock title %}

{% block extra_css %}{% endblock extra_css %}

{% block page_title %}
{% include 'partials/topbar.html' with topbarTitle='Slope Charts' %}
{% endblock page_title %}

{% block page_content %}

<div class="row">
    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Basic Slope Chart</h4>
                <div dir="ltr">
                    <div id="slope-basic" class="apex-charts" data-colors="#39afd1"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->

    <div class="col-xl-6">
        <div class="card">
            <div class="card-body">
                <h4 class="header-title mb-4">Multiple Slop Chart</h4>
                <div dir="ltr">
                    <div id="slope-mluti-group" class="apex-charts" data-colors="#45bbe0,#f9bc0b,#777edd,#0acf97"></div>
                </div>
            </div>
            <!-- end card body-->
        </div>
        <!-- end card -->
    </div>
    <!-- end col-->
</div>

{% endblock page_content %}

{% block extra_javascript %}
<script src="{% static '/vendor/apexcharts/apexcharts.min.js' %}"></script>

<!-- Apex Chart Slope Demo js -->
<script src="{% static '/js/components/chart-apex-slope.js' %}"></script>
{% endblock extra_javascript %}